/* freeCodeCamp - Home Page

/************************************

 *   Front-end News! Stylesheet

 *  gold            : #ffcc66;
 *  dark blue       : #000066;
 *  olive           : #cc9900;
 *  grey            : #d3d3d3;


/*------------------------------------
 *  Base
------------------------------------*/

body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
      font-size: 18px;
  }
h3,
h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
.btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
}
.btn:hover,
.btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
}
.button-width {
  width: 88px;
}

.background-special {
  background:  #ffcc66;
}

@media (max-width: 767px) {
    .navbar {
        padding: 0px;
}

/*------------------------------------
 *  nav
------------------------------------*/
.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;

  }
.navbar-collapse,
.navbar-header {
  background-color: #2d2d30;
}
.navbar-default .navbar-toggle {
      border-color: transparent;
}
.navbar .navbar-brand {
      color: #d5d5d5 !important;
 }
.nav-tabs li a {
      color: #777;
 }
.navbar li a,
.navbar-nav li a:hover {
      color: #fff !important;
 }
.navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }

.open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
}
.dropdown-menu li a {
      color: #000 !important;
}
.dropdown-menu li a:hover {
      background-color: red !important;
}


/*------------------------------------
 *  home
------------------------------------*/
.container {
      padding: 80px 120px;
}

.h3-special {
    font-size: 32px;
    font-weight: bold;
}

/*------------------------------------
 *  about
------------------------------------*/
.about {
  background-color: #d3d3d3;
}

/*------------------------------------
 *  portfolio
------------------------------------*/
.portforlio {
  background-color: #2d2d30;
  color: #d5d5d5;
  height: 76px;
  padding: 10px;
  font-size: 16px !important;
  border: 1px solid #d5d5d5;

}
.h4-special {
    margin-bottom: 5px;
    letter-spacing: 10px;
    font-size: 18px;
    color: #111;
}
.topspace {
  padding-top: 10px;
}
.bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
}
.bg-1 h3 {
    color: #fff;
}
.bg-1 p {
  font-style: italic;
}

/*------------------------------------
 *  contact
------------------------------------*/




/*------------------------------------
 *  footer
------------------------------------*/
footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
}
footer a {
      color: #f5f5f5;
}
footer a:hover {
      color: #777;
      text-decoration: none;
}

.fineprint {
  font-size: 14px;
}

/*------------------------------------
 * modal
------------------------------------*/
 .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }














